@page "/forgot-password"

@using AntDesign
@using System.ComponentModel.DataAnnotations;


@inject NavigationManager Navigation
@inject IMessageService _message
@inject IHttpClientFactory HttpClientFactory
@layout EmptyLayout


<PageHeader Title="Forgot Password?" SubTitle="Enter your email to reset your password" />

<Card Style="width: 500px; margin: auto;">
    <ChildContent>
        <Form Model="@forgotPasswordModel" OnFinish="OnForgotPassword" LabelColSpan="8">
            <FormItem Label="Email">
                <Input @bind-Value="forgotPasswordModel.Email" />
            </FormItem>
            <FormItem>
                <Button Type="ButtonType.Primary" HtmlType="submit">
                    Send Reset Link
                </Button>
            </FormItem>
        </Form>
    </ChildContent>
</Card>

@code {
    private HttpClient httpClient;
    public class ForgotPasswordModel
    {
        [Required, EmailAddress]
        public string Email { get; set; }
    }

    private ForgotPasswordModel forgotPasswordModel = new ForgotPasswordModel();
    
    protected override async Task OnInitializedAsync()
    {
        httpClient = HttpClientFactory.CreateClient("Auth");
        await base.OnInitializedAsync();
    }
    private async Task OnForgotPassword()
    {
        var response = await httpClient.PostAsJsonAsync("/api/Auth/forgot-password", new { Email = forgotPasswordModel.Email });

        if (response.IsSuccessStatusCode)
        {
            _message.Success("A reset link has been sent to your email.");
            Navigation.NavigateTo("/login");
        }
        else
        {
            _message.Error("Failed to send reset link. Please try again.");
        }
    }
}
